{% extends "base.html" %}

{% block title%}老師需認證檔案{% endblock %}

{% block main %}
{% for work in audit_works %}
        <tr>
            <td>{{ work.created_date }}</td>
            <td>{{ work.title }}</td>
            <td>
                {% if work.audit_status == 'pending' %}
                    <span style="color: orange;">待審核</span>
                {% elif work.audit_status == 'pass' %}
                    <span style="color: green;">已通過</span>
                {% else %}
                    <span style="color: red;">未通過</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'teacher_audit_work' work.pk %}">進入認證</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" style="text-align:center;">目前沒有需要認證的作品。</td>
        </tr>
        {% endfor %}<br>
<a href="{% url 'updateoption_list' %}">回主頁</a>
{% endblock %}