{% extends "base.html" %}
{% block title%}新增學習歷程{% endblock %}
{% block main %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == "title" or field.name == "desc" or field.name == "jpg" %}
            {{ field.label_tag }}<br>
            {{ field }}<br>
            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}<br>
        {% endif %}
        {% if view.kwargs.pk == 3 %}
            {% if field.name == "classes_id" or field.name == "Certification" %}
                {{ field }}<br>
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}<br>
            {% endif %}
        {% endif %}
        {% endfor %}
    <li>課程參考資訊</li>
        <ul>
            {% for course in all_classes %}
                <li>
                    課程代碼：{{ course.id }}<br>
                    課程名稱：{{ course.course_name }}<br>
                    授課老師：{{ course.teacher }}<br>
                </li>
            {% empty %}
                <li>目前無課程資料</li>
            {% endfor %}
        </ul>
        <input type="submit" value="新增"> 
    </form>
{% endblock %}